# VSCode or Visual Studio
.vs/
.vsidx/
*.suo
*.user
*.userosscache
*.sln.docstates

# Bytecode and caches
__pycache__/
*.pyc

# Local data
data/users/
instance/*.db

# Ignore environment variable definitions
.env

# Ignore tools folder
tools/
